<h1>Crear Productos</h1>
<ion-label>ID</ion-label>
<p><input type="number" [(ngModel)]="idInput"></p>
<label>Marca</label>
<p><input type="text" [(ngModel)]="marcaInput"></p>
<label>Modelo</label>
<p><input type="text" [(ngModel)]="modeloInput"></p>
<label>Color</label>
<p><input type="text" [(ngModel)]="colorInput"></p>
<label>Puertas</label>
<p><input type="number" [(ngModel)]="puertasInput"></p>
<label>Matricula</label>
<p><input type="text" [(ngModel)]="matriculaInput"></p>
<label>Categoria</label>
<p><input type="text" [(ngModel)]="categoriaInput"></p>
<label>precio</label>
<p><input type="text" [(ngModel)]="precioInput"></p>
<label>Vendedor</label>
<p><input type="text" [(ngModel)]="vendedorInput"></p>
<label>Source</label>
<p><input type="text" [(ngModel)]="imgInput"></p>

<ion-button (click)="guardarProducto()">Agregar</ion-button>






{{mensajePadre}}