*{
    margin: 0;
    padding: 0;
    
}

h1{

    text-align: center;
    font-size: 40px;
    font-family: "Righteous";
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(28, 173, 231);
    
}

ion-label{

    color: red;
    font-style: bold;

}

ion-card-title{

    
    font-style: oblique;

}